{% extends 'base.html' %}

{% block head %}
    <title>Holidify</title>
{% endblock %}

{% block body %}

<header id="header">
    <div class="container">
        <div class="row">
            <div class="col head-img">
                <h1 class="text-dark text-center mt-5 font-weight-bold">Corona Cases Stats</h1>
                <p class="text-center text-capitalize">New features coming soon</p>
                <div class="col-12 text-center">
                    <p class="lead">India</p>
                    <p>{{ countryObj.get("cases") }}</p>
                    <p>{{ countryObj.get("cases") }}</p>
                    {{ (countryObj.get("cases"), countryObj.get("deaths"), countryObj.get("total_recovered"), countryObj.get("new_deaths"), countryObj.get("new_cases"), countryObj.get("serious_critical")) }}
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}
